<html>
<head>
  <title>PDF Table</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid #000; /* Black border color */
      border-width: 1px; /* 1-pixel border width */
      padding: 8px;
      text-align: left;
    }
  </style>
  
</head>
<body>
  <%= render 'table' %>
</body>
<!-- app/views/records/generate_table.html.erb -->
</html>

