<html>
<head>
  <title>Pdf Layout</title>
</head>
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid #000; /* Black border color */
      border-width: 1px; /* 1-pixel border width */
      padding: 8px;
      text-align: left;
    }
  </style>
  
<body>
  <%= yield %>
</body>
</html>